<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705561206687-laaee3rl71n6bdvfchavbqer3eb29m4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705561206687-laaee3rl71n6bdvfchavbqer3eb29m4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBX1eL7q-u2l7s3CmlFqh2KPEvRj2B3_5I</string>
	<key>GCM_SENDER_ID</key>
	<string>705561206687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beacon.pregnancy</string>
	<key>PROJECT_ID</key>
	<string>pregnancyflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>pregnancyflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705561206687:ios:c4bd4ca65efbd229fbe7aa</string>
</dict>
</plist>